<mat-form-field appearance="fill">
  <mat-label>Enter a date range</mat-label>
  <mat-date-range-input [formGroup]="dateRange" [rangePicker]="picker">
    <input matStartDate formControlName="start" placeholder="Start date">
    <input matEndDate formControlName="end" placeholder="End date">
  </mat-date-range-input>
  <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-picker #picker></mat-date-range-picker>

  <mat-error *ngIf="dateRange.controls['start'].hasError('matStartDateInvalid')">Invalid start date</mat-error>
  <mat-error *ngIf="dateRange.controls['end']hasError('matEndDateInvalid')">Invalid end date</mat-error>
</mat-form-field>

<p>Selected range: {{dateRange.value | json}}</p>
<div>{{errorMessage}}</div>

<div class="example-label">Raised button</div>
  <div class="example-button-row">
    Don't work yet!
     <button mat-raised-button (click)="onUpdateDateRange(dateRange.value)">Update Timeseries</button>
  </div>

  <div id="loader" class="loader">loading...</div>
<app-line-chart *ngIf="myEnergyData.length > 1" [myEnergyData]="(myEnergyData)"></app-line-chart>
