<h1>{{title}}</h1>
<p>overblik-main works!</p>

<div>Short lived token er: {{shortToken.token}}</div>

<div *ngIf="meteringPoints.result[0].streetCode">
  streetName: {{meteringPoints.result[0].streetName}}

  <div class="example-label">FAB</div>
  <div class="example-button-row">
    <div class="example-flex-container">
      <div class="example-button-container">
        <button mat-fab color="accent" (click)="getTimeSeries()" aria-label="Example icon button with a delete icon">
          <mat-icon>send</mat-icon>
        </button>
      </div>
    </div>
  </div>

</div>

