<h1>{{title}}</h1>
<p>overblik-main works!</p>

<div>Short lived token er: {{shortToken.token}}</div>

<div *ngIf="meteringPoints.result[0].streetCode">
  streetName: {{meteringPoints.result[0].streetName}}

  <div class="example-label">FAB</div>
  <div class="example-button-row">
    <div class="example-flex-container">
      <div class="example-button-container">
        <button mat-fab color="accent" (click)="getTimeSeries()" aria-label="Example icon button with a delete icon">
          <mat-icon>send</mat-icon>
        </button>
      </div>
    </div>
  </div>

</div>

<div *ngIf="myEnergyData">
  <div *ngFor="let energyData of myEnergyData">
    <h1>{{energyData.supplier}}</h1>
<div *ngFor="let points of energyData.supplierTimeSeries">
  <div *ngFor="let point of points">
    Her kommer noget info:
    {{point.timeInterval}}
    {{point.pointQuantity}}
  </div>

</div>
  </div>
</div>
this.myEnergyData[0].myEnergy_MarketDocument[0].MyEnergyData_MarketDocument.TimeSeries[0].Period[0].Point[0]['out_Quantity.quantity']


<app-line-chart></app-line-chart>
